<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal-mant"></ion-back-button>
    </ion-buttons>
    <ion-title class="finalizado">Historial de Reportes</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="container">
      <div class="header">
        <h1>REPORTE DE INCIDENTE</h1>
        <h2>NUEVO INCIDENTE!!!</h2>
      </div>
      <div class="notifications">
        <ion-button (click)="navigateToPage()" expand="block" class="notification" color="primary">NOTIFICACIÓN 1</ion-button>
        <ion-button (click)="navigateToPage()" expand="block" class="notification" color="primary">NOTIFICACIÓN 2</ion-button>
      </div>
    </div>
    <img src="assets/imagenes/logito.png" alt="logo" class="imagen2">
  </ion-content>




